table {
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid DarkGray;
  padding: 10px;
}

tr:nth-child(odd){
  background-color: Gainsboro;
}

tr:nth-child(even){
  background-color: Azure;
}

tr:hover{
  background-color: LightBlue;
}

th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: RoyalBlue;
  color: white;
}

